.App-social .App-header {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

.App-social .App-header .App-title a {
  padding: 10px;
  color: yellow;
  text-decoration: none;
}

.App-social .App-header .App-title .fas {
  color: red;
  margin-left: 20px;
  font-size: 40px;
}

.App-social .LogInPopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 100;
}

